asgiref==3.9.0
certifi==2025.4.26
chardet==5.2.0
Django==5.1.6
charset-normalizer==3.4.2
django-cors-headers==4.7.0
idna==3.10
pytz==2025.2
requests==2.32.4
sqlparse==0.5.3
style==1.1.6
typing_extensions==4.13.2
urllib3==2.5.0