asn1crypto==1.2.0
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
cryptography==2.8
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.8
django-common==0.1.51
django-cors-headers==3.1.1
django-webpack-loader==0.6.0
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
eight==0.4.2
future==0.16.0
Geraldo==0.4.16
graphviz==0.11.1
idna==2.8
importlib-metadata==0.23
lxml==4.2.6
more-itertools==7.2.0
packaging==19.2
Pillow==6.2.0
pipenv==2018.11.26
pluggy==0.13.0
psycopg2==2.8.3
py==1.8.0
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==17.5.0
pyparsing==2.4.2
PySIGNFe==0.1.0
pytest==5.2.2
pytest-django==3.6.0
python-decouple==3.1
pytz==2019.2
reportlab==3.4.0
requests==2.22.0
signxml==2.5.2
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.6.1
virtualenv-clone==0.5.3
wcwidth==0.1.7
zipp==0.6.0
